html
  head
    title= message
      
  body
    h1= message
    form(method ="post", action="/cadastrar/motorista")
      label(for="") Nome:
      input(type="text", name="nome")
      br
      label(for="") Nome Fantansia:
      input(type="text", name="nomdeFantasia")
      br
      label(for="") CPF:
      input(type="text", name="cpf")
      br
      label(for="") Inscrição Estadual:
      input(type="text", name="insEstadual")
      br
      label(for="") Representante:
      input(type="text", name="representante")
      br
      label(for="") Endereço:
      input(type="text", name="endereco")
      br
      label(for="") Bairro:
      input(type="text", name="bairro")
      br
      label(for="") Cidade:
      input(type="text", name="cidade")
      br
      label(for="") Estado:
      input(type="text", name="estado")
      br
      label(for="") CEP:
      input(type="text", name="cep")
      br
      label(for="") Email:
      input(type="text", name="email")
      br
      label(for="") Site:
      input(type="text", name="site")
      br
      label(for="") Telefone:
      input(type="text", name="telefone")
      br
      label(for="") NIT:
      input(type="text", name="nit")
      br
      label(for="") Tipo:
      input(type="text", name="tipo")
      input(type="submit", value="save")
