html
  head
    title= message
    script(src="/static/javascripts/validar.js")
    script(src="/static/javascripts/validator.min.js")
    
  body
    h1= message
    form(method ="post", action="/cadastrar/propriedade", id="formulario", onsubmit="return validarDescricao();")
      input(type="text", name="descricao")
      input(type="submit", value="save")
