html
  head
    title= message
    script(src="/static/javascripts/validator.min.js")
    script.
      function validar(){
        const nome = formulario.nome.value;
        const nomeFantasia = formulario.nomeFantasia.value;
        const cpf = formulario.cpf.value;
        const insEstadual = formulario.insEstadual.value;
        const representante = formulario.representante.value;
        const endereco = formulario.endereco.value;
        const bairro = formulario.bairro.value;
        const cidade = formulario.cidade.value;
        const estado = formulario.estado.value;
        const cep = formulario.cep.value;
        const email = formulario.email.value;
        const site = formulario.site.value;
        const telefone = formulario.telefone.value;
        const nit = formulario.nit.value;
        const tipo = formulario.tipo.value;
        if(validator.isEmpty(nome)){
          alert("Campo nome vazio!");
          return false;
        } 
        else if(validator.isEmpty(nomeFantasia)){
          alert("Campo nome fantasia está vazio!");
          return false;
        }
        else if(validator.isEmpty(cpf)){
            alert("Campo cpf está vazio!");
            return false;
        }
        else if(validator.isEmpty(insEstadual)){
          alert("Campo inscrição estadual está vazio!");
          return false;
        }
        else if(validator.isEmpty(representante)){
          alert("Campo representante está vazio!");
          return false;  
        }
        else if(validator.isEmpty(endereco)){
          alert("Campo endereço está vazio!");
          return false;
        }
        else if(validator.isEmpty(bairro)){
          alert("Campo bairro está vazio!");
          return false;
        }
        else if(validator.isEmpty(cidade)){
          alert("Campo cidade está vazio!");
          return false;
        }
        else if(validator.isEmpty(estado)){
          alert("Campo estado está vazio!");
          return false;
        }
        else if(validator.isEmpty(cep)){
          alert("Campo CEP está vazio!");
          return false;
        }
        else if(validator.isEmpty(email)){
          alert("Campo email está vazio!");
          return false;
        }
        else if(validator.isEmpty(site)){
          alert("Campo site está vazio!");
          return false;
        }
        else if(validator.isEmpty(telefone)){
          alert("Campo telefone está vazio!");
          return false;
        }
        else if(validator.isEmpty(nit)){
          alert("Campo NIT está vazio!");
          return false;
        }
        else if(validator.isEmpty(tipo)){
          alert("Campo tipo está vazio!");
          return false;
        }
        else if(!validator.isInt(cpf)){
          alert("Campo cpf deve conter apensa números");
          return false;
        }
        else if(!validator.isInt(insEstadual)){
          alert("Campo inscrição estadual deve conter apenas números");
        }
        else if(!validator.isInt(cep)){
          alert("Campo CEP deve conter apenas números");
          return false;
        }
        else if(!validator.isInt(nit)){
          alert("Campo NIT deve conter apenas números");
          return false;
        }
        else
            return true;
      }    
  body
    h1= message
    form(method ="post", action="/cadastrar/motorista", id="formulario", onsubmit="return validar();")
    
      label(for="") Nome:
      input(type="text", name="nome")
      br
     
      label(for="") Nome Fantansia:
      input(type="text", name="nomeFantasia")
      br
     
      label(for="") CPF:
      input(type="text", name="cpf")
      br
     
      label(for="") Inscrição Estadual:
      input(type="text", name="insEstadual")
      br
     
      label(for="") Representante:
      input(type="text", name="representante")
      br
      
      label(for="") Endereço:
      input(type="text", name="endereco")
      br
      
      label(for="") Bairro:
      input(type="text", name="bairro")
      br
      
      label(for="") Cidade:
      input(type="text", name="cidade")
      br
     
      label(for="") Estado:
      input(type="text", name="estado")
      br
     
      label(for="") CEP:
      input(type="text", name="cep")
      br
     
      label(for="") Email:
      input(type="text", name="email")
      br
     
      label(for="") Site:
      input(type="text", name="site")
      br
     
      label(for="") Telefone:
      input(type="text", name="telefone")
      br
     
      label(for="") NIT:
      input(type="text", name="nit")
      br
     
      label(for="") Tipo:
      input(type="text", name="tipo")
      input(type="submit", value="save")
