html
  head
    title
      
  body
    h1= message
    ul
      li: a(href="/cadastrar/marca") Cadastrar Marcas
      li: a(href="/cadastrar/carroceria") Cadastrar Carrocerias
      li: a(href="/cadastrar/genero") Cadastrar Generos
      li: a(href="/cadastrar/tipo") Cadastrar Tipos
      li: a(href="/cadastrar/especie") Cadastrar Espécies
      li: a(href="/cadastrar/modelo") Cadastrar Modelos
      li: a(href="/cadastrar/combustivel") Cadastrar Combustiveis
      li: a(href="/cadastrar/status") Cadastrar Status
      li: a(href="/cadastrar/propriedade") Cadastrar Propriedades
      li: a(href="/cadastrar/cor") Cadastrar Cores
      li: a(href="/cadastrar/veiculo") Cadastrar Veículos
      li: a(href="/cadastrar/motorista") Cadastrar Motoristas
